<html>
<head>
<title>
{% block title %}
Legistify | Homepage
{% endblock %}
</title>
  <script src="https://code.jquery.com/jquery-1.12.3.js"
			  integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
			  crossorigin="anonymous"></script>
</head>
<body>
<p>Available from {{ user.startdate }} to {{ user.enddate }}</p>
<a href='{% url "logout" %}'>Logout</a>
Timing form
<form action='' method='post'>{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Update">
</form>
Timing form

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for r in bookingrequests %}
<p>
{{ r.from_email }} &nbsp {{ r.description }} &nbsp{{ r.date }} &nbsp {{ r.accepted }} &nbsp <button class="btn waves-effect waves-light" type="submit" name="action" class="request" id="{{ r.id }}" >Accept request
  </button>
</p>
{% endfor %}


</body>


<script type="text/javascript">
$(function(){
$('button').click(function(){
console.log(this.id);
var rid = this.id;
$.ajax({
	url : 'acceptrequest/'+rid,
	type : 'GET',
	success : function(data){
		console.log(data);
	}






});

});

});
</script>

</html>

