<html>
<head>
<title>
Shahrukh
</title>
  <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-1.12.3.js"
			  integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
			  crossorigin="anonymous"></script>
  
  <!-- Compiled and minified JavaScript -->
  
</head>
<body>

<form action="" method='POST' onsubmit="return false">{% csrf_token %}
	{% for lawyer in lawyers %}
    <p>
      <input name="lawyer" type="radio" id="{{ lawyer.id }}" value="{{ lawyer.id }}" />
      <label for="{{ lawyer.id }}">Name: {{ lawyer.name }} &nbsp Email Id: {{ lawyer.email }}  &nbsp {% if lawyer.startdate and lawyer.enddate %}available from {{ lawyer.startdate }}&nbsp to {{ lawyer.enddate }}&nbsp{% endif %}</label>
    </p>
    {% endfor %}

     	<div class="row">
        <div class="input-field col s6">
          
          <textarea id="icon_prefix2" class="materialize-textarea" name="description"></textarea>
          <label for="icon_prefix2">Description</label>
        </div>
      </div>
 <input type="date" class="datepicker" name = "date">

<input type="submit" value="Send request" id="submit">

  </form>
</body>



<script type="text/javascript">

$.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};  

function getcookies(){

  var cookievalue = document.cookie.split(';');
  var obj = {}
  for (var i=0;i<cookievalue.length ; i++)
  {
    tt = cookievalue[i];
    if (tt != undefined)
    {
      var temp = tt.split('=');
      obj[temp[0].trim()]=temp[1].trim();
    }
  }
  return obj;

}

$(function(){


$('#submit').click(function(){
// var data = $('form').data();
var cookies = getcookies();
 var temp = {'X-CSRFToken': cookies['csrftoken']};


$.ajax({
	url:'{% url "userdashboard" %}',
	type:'POST',
	dataType: 'json',
	async: false,
	data: JSON.stringify($('form').serializeObject()),
  // data:$('form').serializeArray(),
  headers: temp,
    contentType: 'application/json; charset=utf-8',
	success : function(data){
		console.log(data);
	}


});
});




});


</script>

</html>