{% extends "signup.html" %}

{% block title %}
Legistify|Lawyers
{% endblock %}

{% block link %}
{% url "logout" %}
{% endblock %}
{% block linkname %}
Logout
{% endblock %}


{% load cfilters %}

{% block ll %}
Last login {{ user.last_login|timesince }} ago  
{% endblock %}

  
{% block content %}  

<h3 class="center-align">Welcome {{ user.name }}</h3>

<h5 class="center-align">Your availability date is set from {{ user.startdate }} to {{ user.enddate }}</h5>

<div class="row">
<form action='' class="col s10 offset-s1" method='post'>{% csrf_token %}
	<p>You can change your availability time here</p>
 {% for field in form %}
        <div class="input-field col s4">    
	{{ field|addclass:"datepicker" }}
	{{ field.label_tag }}
<p style="color:red">{{ field.errors }}</p>          
        </div>
{% endfor %}
<button class="btn waves-effect waves-light" type="submit" name="action">Update
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="row">
	<div class="col s10 offset-s1">
<ul class="collection">

	{% for r in bookingrequests %}
	{% if r.accepted %} 
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Request from {{ r.from_email }}</span>
      <p>Description: {{ r.description }} <br>
         Date of appointment: {{ r.date }}<br>
         Status : Accepted 
      </p>

    </li>
    {% elif r.denied %}
    <li class="collection-item avatar">
      <i class="material-icons circle blue">insert_chart</i>
      <span class="title">Request from {{ r.from_email }}</span>
      <p>Description: {{ r.description }} <br>
         Date of appointment: {{ r.date }}<br>
         Status : Denied 
      </p>
    </li>

    {% else %}
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Request from {{ r.from_email }}</span>
      <p>Description: {{ r.description }} <br>
         Date of appointment: {{ r.date }}<br>
         Status : Pending 
      </p>
      
  <button class="btn waves-effect waves-light" type="submit" name="action" class="request" id="{{ r.id }}">Accept request
    <i class="material-icons right">send</i>
  </button>
        
 <a id="r{{ r.id }}" class="deny" >Deny</a>

    </li>
    {% endif %}
    {% endfor %}
   
  </ul>
  <h4 id="acceptrequest"></h4>
  </div>
</div>

{% endblock %}


{% block script %}

<script type="text/javascript">

$('.deny').click(function(){
var id = $(this).attr('id');
id = id.split('r');
$.ajax({
  url : 'denyrequest/'+id[1],
  type : 'GET',
  success : function(data){
    console.log(data);
    $('#acceptrequest').append(data['msg']);
  }

});


});



</script>

<script type="text/javascript">
$(function(){
$('button').click(function(){
console.log(this.id);
$('#acceptrequest').empty();
var rid = this.id;
$.ajax({
  url : 'acceptrequest/'+rid,
  type : 'GET',
  success : function(data){
    console.log(data);
    $('#acceptrequest').append(data['msg']);
  }

});

});

});
</script>
{% endblock %}

