<html>
<head>
<title>
Shahrukh
</title>
  <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-1.12.3.js"
			  integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
			  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  
</head>
<body>

<form action="" method='POST' onsubmit="return false">{% csrf_token %}
	{% for lawyer in lawyers %}
    <p>
      <input name="group" type="radio" id="{{ lawyer.id }}" value="{{ lawyer.id }}" />
      <label for="{{ lawyer.id }}">Name: {{ lawyer.name }} &nbsp Email Id: {{ lawyer.email }}  &nbsp {% if lawyer.startdate and lawyer.enddate %}available from {{ lawyer.startdate }}&nbsp to {{ lawyer.enddate }}&nbsp{% endif %}</label>
    </p>
    {% endfor %}

     	<div class="row">
        <div class="input-field col s6">
          
          <textarea id="icon_prefix2" class="materialize-textarea" name="description"></textarea>
          <label for="icon_prefix2">Description</label>
        </div>
      </div>
 <input type="date" class="datepicker" name = "date">

<input type="submit" value="Send request" id="submit">

  </form>
</body>

<script type="text/javascript">

function getcookies(){

  var cookievalue = document.cookie.split(';');
  var obj = {}
  for (var i=0;i<cookievalue.length ; i++)
  {
    tt = cookievalue[i];
    if (tt != undefined)
    {
      var temp = tt.split('=');
      obj[temp[0].trim()]=temp[1].trim();
    }
  }
  return obj;

}

$(function(){


$('#submit').click(function(){
// var data = $('form').data();
var cookies = getcookies();
 var temp = {'X-CSRFToken': cookies['csrftoken']};
var data = {
};

$.ajax({
	url:'{% url "addrequest" %}',
	type:'POST',
	dataType: 'json',
	async: false,
	data: JSON.stringify(data),
  headers: temp,
    contentType: 'application/json; charset=utf-8',
	success : function(data){
		console.log(data);
	}


});
});




});


</script>

</html>