<html>
<head>
<title>
Shahrukh
</title>
  <script src="https://code.jquery.com/jquery-1.12.3.js"
        integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
        crossorigin="anonymous"></script>
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



	<form method='POST' action='' >{% csrf_token %}
{% for field in form %}
<p>{{ field.label_tag }}
{{ field }}
{{ field.errors }}
</p>
{% endfor %}
<input type='submit' value = 'Login' id='btn-login'>
	</form>
</body>

 <script type="text/javascript">
      function getCookies(){
        var l = document.cookie.split(';');
        var obj = {};
        for(var i = 0; l.length -1 > i; i++){
          var tt = l[i];
          if (tt != undefined){
              var temp = l[i].split("=");
              obj[temp[0].trim()] = temp[1].trim();
          }
        }
        return obj;
      }
     </script>
    <!-- iCheck -->
    <script>
      $(function () {
              $('#btn-login').click(function(){
                 var cookies = getCookies();
              
                 var arr = {
                  "password" : $('#id_password').val(), 
                  "email" : $('#id_email').val(),
                  "csrfmiddlewaretoken": cookies['csrftoken']
                };
                var temp = {'X-CSRFToken': cookies['csrftoken']};
                
              $.ajax({
                url : '{% url "login" %}',
                type : 'POST',
                dataType: 'json',
                headers: temp,
                async: false,
                data: JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',

                success : function(data){

                 
                console.log(data);
 
                }

              });

              });

              

              });
    </script>



</html>